README.md
site.html

*.yaml
*.yml

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

/site/main.css
/site/margin.css
/site/page.css
/site/site.css

# Miscellaneous
/static/
