@import "@fontsource-variable/public-sans/wght-italic.css";
@import "@fontsource-variable/public-sans/wght.css";

@import "@fontsource-variable/newsreader/opsz-italic.css";
@import "@fontsource-variable/newsreader/opsz.css";

@import "@fontsource-variable/jetbrains-mono/wght-italic.css";
@import "@fontsource-variable/jetbrains-mono/wght.css";

@property --view-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --unit-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 16px;
}

@property --view {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --header-font: "Newsreader Variable", Georgia, serif;
  --mono-font: "JetBrains Mono Variable", ui-monospace, monospace;
  --sans-font: "Public Sans Variable", system-ui, sans-serif;

  --gap: 1.5rem;

  /* 1.5rem @ 20rem -> 3rem @ 80rem */
  --margin: clamp(1.5rem, 2.5vw + 1rem, 3rem);
  --radius: 0.25rem;

  --t-display: clamp(3rem, 6vw + 1rem, 6.5rem);

  /* Work around the absence of unit division in CSS */
  --view-size: 100vw;
  --unit-size: 1rem;
  --view: tan(atan2(var(--view-size), var(--unit-size)));

  /* Each --h*-size is a size, in rem, as a "dimensionless" number */
  --h1-size: clamp(2.25, 1 + 0.03 * var(--view), 3.75);
  --h2-size: clamp(1.625, 1 + 0.015 * var(--view), 2.25);
  --h3-size: 1.375;
  --h4-size: 1.25;
  --h5-size: 1;
  --h6-size: 1;

  --static: oklch(0.15 0.01 245.25);
  --static-fg: color-mix(in oklch, var(--static) 80%, white);
  --static-bg: white;

  --action: oklch(0.4973 0.12 245.25);
  --action-fg: var(--action);
  --action-fg-active: color-mix(in oklch, var(--action-fg), black 12%);
  --action-bg-tint: color-mix(in oklch, var(--action) 6%, white);

  --notice: oklch(0.8 0.14 80.25);
  --notice-fg: color-mix(in oklch, var(--notice), black 35%);

  --insert: oklch(0.58 0.14 142.14);
  --insert-fg: var(--insert);

  --delete: oklch(0.58 0.14 28.82);
  --delete-fg: var(--delete);

  /* Text */
  --fg: var(--static-fg);

  /* Secondary text, i.e. <figcaption>, <small>, .mute, .note */
  --fg-mute: color-mix(in oklch, var(--static) 65%, white);

  /* Tertiary text, i.e. .over */
  --fg-tint: color-mix(in oklch, var(--static) 40%, white);

  /* Fill */
  --bg: var(--static-bg);

  /* Secondary fill, i.e. :hover, .stripe, .area */
  --bg-tint: color-mix(in oklch, var(--static) 4%, white);

  /* Separation, i.e. <hr>, <tr>, .border */
  --border: color-mix(in oklch, var(--static) 20%, white);

  /* Accent rule, i.e. <blockquote>, .acme, .edge */
  --border-bold: color-mix(in oklch, var(--static) 50%, white);

  /* Miscellaneous */
  --code-bg: color-mix(in oklch, var(--action) 6%, white);
  /* TODO: legacy */
  --code-color: rgb(92 99 112);
}
