@layer normalize, main, layout, page;

@import "@csstools/normalize.css" layer(normalize);
@import "scheme.css" layer(main);
@import "margin.css" layer(main);
@import "main.css" layer(main);
@import "page.css" layer(page);

/* Text */

.lead, .lede {
  font-family: var(--header-font);
  font-size: 1.25em;
}

.mono {
  font-family: var(--mono-font);
}

.text {
  max-width: 38rem;
}

.note > :where(blockquote, dl, menu, ol, p, ul) {
  color: var(--fg-mute);
  font-size: 0.875em;
}

:is(.size\+2, .size\+\+) {
  font-size: 1.25em;
}

:is(.size\+1, .size\+) {
  font-size: 1.125em;
}

:is(.size-1, .size-) {
  font-size: 0.875em;
}

:is(.size-2, .size--) {
  font-size: 0.75em;
}

/* Counters */

main {
  counter-reset: section;
}

.section-number::before {
  content: "§ " counter(section, decimal-leading-zero) " · ";
  counter-increment: section;
}

.li-number::before {
  color: var(--fg-tint);
  content: counter(list-item, decimal-leading-zero);
  font-family: var(--mono-font);
  font-size: 0.875em;
  margin-inline-end: 1em;
}

/* Icons */

.iconic {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;

  > :is(.icon, .lucide) {
    flex: none;
  }

  > * {
    margin-block: 0;
  }
}

.icon, .lucide {
  size: 1em;
}

/* Buttons */

.circle {
  border-radius: calc(infinity * 1px);
}

/* Color */

.mute {
  color: var(--fg-mute);
}

.action {
  --fg: var(--action-fg);
  --fg-active: color-mix(in oklch, var(--action-fg), black 12%);
  --fg-mute: color-mix(in oklch, var(--action-fg) 65%, white);
  --fg-tint: color-mix(in oklch, var(--action-fg) 40%, white);
}

.notice {
  --fg: var(--notice-fg);
  --fg-active: color-mix(in oklch, var(--notice-fg), black 12%);
  --fg-mute: color-mix(in oklch, var(--notice-fg) 65%, white);
  --fg-tint: color-mix(in oklch, var(--notice-fg) 40%, white);
}

.insert {
  --fg: var(--insert-fg);
  --fg-active: color-mix(in oklch, var(--insert-fg), black 12%);
  --fg-mute: color-mix(in oklch, var(--insert-fg) 65%, white);
  --fg-tint: color-mix(in oklch, var(--insert-fg) 40%, white);
}

.delete {
  --fg: var(--delete-fg);
  --fg-active: color-mix(in oklch, var(--delete-fg), black 12%);
  --fg-mute: color-mix(in oklch, var(--delete-fg) 65%, white);
  --fg-tint: color-mix(in oklch, var(--delete-fg) 40%, white);
}

/* Areas */

.area, .action-area, .notice-area, .insert-area, .delete-area {
  padding: var(--gap);
}

.area {
  background-color: var(--bg-tint);
}

.action-area {
  --bg: color-mix(in oklch, var(--action) 12%, white);
  --bg-tint: color-mix(in oklch, var(--action) 6%, white);
  --border: color-mix(in oklch, var(--action) 40%, white);
  --border-bold: var(--action);
  background-color: var(--bg);
}

.notice-area {
  --bg: color-mix(in oklch, var(--notice) 18%, white);
  --bg-tint: color-mix(in oklch, var(--notice) 9%, white);
  --border: color-mix(in oklch, var(--notice) 40%, white);
  --border-bold: var(--notice);
  background-color: var(--bg);
}

.insert-area {
  --bg-tint: color-mix(in oklch, var(--insert) 8%, white);
  --bg: color-mix(in oklch, var(--insert) 15%, white);
  --border: color-mix(in oklch, var(--insert) 40%, white);
  --border-bold: var(--insert);
  background-color: var(--bg);
}

.delete-area {
  --bg-tint: color-mix(in oklch, var(--delete) 8%, white);
  --bg: color-mix(in oklch, var(--delete) 15%, white);
  --border: color-mix(in oklch, var(--delete) 40%, white);
  --border-bold: var(--delete);
  background-color: var(--bg);
}

/* Accents */

.band {
  border-block: 1px solid var(--border);
  padding-block: var(--gap);
}

.border {
  border: 1px solid var(--border);
  padding: var(--gap);
}

.acme, .action-acme, .notice-acme, .insert-acme, .delete-acme {
  border-block-start: 3px solid var(--border-bold);
  padding-block-start: var(--gap);
}

.action-acme {
  border-block-start-color: var(--action-fg);
}

.notice-acme {
  border-block-start-color: var(--notice-fg);
}

.insert-acme {
  border-block-start-color: var(--insert-fg);
}

.delete-acme {
  border-block-start-color: var(--delete-fg);
}

.edge, .action-edge, .notice-edge, .insert-edge, .delete-edge {
  border-inline-start: 3px solid var(--border-bold);
  padding-inline-start: var(--gap);
}

.action-edge {
  border-inline-start-color: var(--action-fg);
}

.notice-edge {
  border-inline-start-color: var(--notice-fg);
}

.insert-edge {
  border-inline-start-color: var(--insert-fg);
}

.delete-edge {
  border-inline-start-color: var(--delete-fg);
}
